<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Example</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <footer>
        <div class="footer-container">
            <div class="logo">
                <span>PRESSON</span>
            </div>
            <div class="contacts">
                <h3>CONTACTS</h3>
                <p>123-456-7890</p>
                <p><a href="mailto:info@presson.com">info@presson.com</a></p>
                <div class="social-media">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="address">
                <h3>ADDRESS</h3>
                <p>123 your street name,</p>
                <p>City name, Country, post code</p>
            </div>
        </div>
    </footer>

</body>
</html>