<%- include("includes/header"); %>
<!DOCTYPE html>    
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Boas-Vindas</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="container d-flex flex-column justify-content-center align-items-center min-vh-100 text-center">
        <h1 class="mb-4">Bem-vindo à Nossa Empresa!</h1>
        <img src="./images/logo.jpg" alt="Logo da Empresa" class="logo mb-3">
    </div>
</body>
</html>

<%- include("includes/footer"); %>